<template>
    <div>
        <div class="container mt-4">
            <SendData title="CheckList Title"  @sendText="sendTitle" />
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="checkList in checkLists" :key="checkList.id">
                        {{checkList.check_list_title}}
                        <div class="justify-content-end">
                            <button type="button" class="btn btn-danger justify-content-end" @click="deleteCheckList(checkList.id)">Delete</button>
                            <router-link :to="`/check-lists/${checkList.id}/point-lists`" class="btn btn-info">Show</router-link>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import SendData from '../common/SendData';
export default {
    components: {SendData},
    data(){
        return {
            checkLists: [],
            userId: auth.user.id,
            sendCheckList:[],
        }
    },
    methods: {
        sendTitle: function(title){
            let data = {
                 title:title,
            }
            axios.post(`check-lists/${this.userId}`,data)
                .then(r => {
                    this.sendCheckList.push('created');
                    this.title = ''
                })
        },
        deleteCheckList: function(checkListId){
            axios.delete(`check-lists/${this.userId}/${checkListId}`)
                .then(r => {
                    this.sendCheckList.push('Deleted');
                })
        },
        getChecklists(){
            axios.get(`check-lists/${this.userId}`)
                .then(r => {
                    this.checkLists = r.data.response;
                })
                .catch(err =>{
                    alert(err);
                })

        }
    },
    mounted(){
        this.getChecklists()
    },
    watch:{
        sendCheckList: function (val) {
            this.getChecklists()
        }
    }
}
</script>
