<template>
    <div>
        <div class="container mt-5">
            <div>
                <div v-if="ban" class="d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        So Sory you is banned
                    </div>
                </div>
                <div v-else>
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4 text-center">Check Lists Project</h1>
                            <p class="lead text-center">Add Check lists with limit and create check list points</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ban:false,
        }
    },
    mounted(){
        if(auth.isBannedUser()) this.ban = true;
    }
}
</script>
