<template>
    <div>
        <div class="container mt-4">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" v-model="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" v-model="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" @click="sendLoginForm">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            email:'',
            password: '',
        }
    },
    methods: {
        sendLoginForm(){
            let data = {
                username: this.email,
                password: this.password,
            }
            axios.post('login',data)
                .then(r => {
                    if(r.status == 200){
                        auth.login(r.data.token, r.data.user);
                        this.$router.push('/');
                    }
                })
                .catch(({response}) => {
                    alert(response.data.message);
                });
        }
    },
    mounted() {
    },
}
</script>
