<template>
    <div>
        <div class="container mt-4">

             <SendData title="Point Task" @sendText="sendPointTask" />

            <AccordionLists accordListName="Checked" :points="checkedPoints" headingId="checkedHeading" collapseId="checkedCollapse" accorId="checkedAccord" @accord="getChecks" />
            <AccordionLists accordListName="Unchecked" :points="unchekedPoints" headingId="uncheckedHeading" collapseId="uncheckedCollapse" accorId="uncheckedAccord" @accord="getChecks" />

            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="point in points" :key="point.id">
                        {{point.point_task}}
                        <div class="justify-content-end">
                            <input type="checkbox" :checked="point.is_performed" @change="changeTask(point.id,$event)"/>
                            <button type="button" class="btn btn-danger justify-content-end" @click="deletePoint(point.id)">Delete</button>
                        </div>
                </li>
            </ul>

        </div>
    </div>
</template>

<script>
import AccordionLists from '../common/AccordionLists';
import SendData from '../common/SendData';
export default {
    components:{AccordionLists,SendData},
    data(){
        return {
            checkListId: '',
            userId: auth.user.id,
            sendPointList: [],
            points:[],
            unchekedPoints: [],
            checkedPoints: [],
        }
    },
    methods:{
        sendPointTask: function(task){
            let data = {
                 pointTask: task,
            }
            axios.post(`check-lists/${this.userId}/${this.$route.params.id}/points`,data)
                .then(r => {
                    this.sendPointList.push('created');
                    this.pointTask = ''
                })
        },
        getPoints(checkListId){
            axios.get(`check-lists/${this.userId}/${checkListId}/points`)
                .then(r => {
                    this.points = r.data.response
                });
        },
        getCheckedPoints(checkListId){
             axios.get(`check-lists/${this.userId}/${checkListId}/points/checks`)
                .then(r => {
                    this.checkedPoints = r.data.response
                });
        },
        getUncheckedPoints(checkListId){
            axios.get(`check-lists/${this.userId}/${checkListId}/points/unchecks`)
                .then(r => {
                    this.unchekedPoints = r.data.response
                });
        },
        deletePoint(pointId){
            axios.delete(`check-lists/points/${pointId}`)
                .then(() => {
                    this.sendPointList.push('deleted');
                });
        },
        changeTask: function(pointId,$event){
            let data = {
                is_performed: $event.target.checked ? 1 : 0
            }
            axios.patch(`check-lists/points/${pointId}`,data).then(()=> this.sendPointList.push('updated'));
        },
        getChecks(status){
            if(status ==200){
                this.getUncheckedPoints(this.checkListId);
                this.getCheckedPoints(this.checkListId);
            }
        }
    },
    mounted(){
        this.checkListId = this.$route.params.id;
        this.getPoints(this.checkListId);
    },
    watch:{
        sendPointList: function (val) {
            this.getPoints(this.checkListId);
        }
    }

}
</script>
