<template>
    <div>
        <div class="container mt-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" v-model="email">
            </div>
            <div class="form-group">
            <label for="exampleInputEmail2">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail2" v-model="name">
            </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" v-model="password" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" v-model="repeat_password" id="exampleInputPassword2">
        </div>
        <button type="submit" class="btn btn-primary" @click="sendLoginForm">Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            name: '',
            email:'',
            password: '',
            repeat_password: '',
        }
    },
    methods: {
        sendLoginForm(){
            let data = {
                name: this.name,
                email:this.email,
                password: this.password,
                repeat_password: this.repeat_password,
            }
            axios.post('register',data)
                .then(r => {
                    if(r.status == 200){
                        this.$router.push('/login');
                    }
                });
        }
    },
    mounted() {
    },
}
</script>
