<template>
    <div>
        <div class="container mt-4">
            <div v-if="succes">
                <div class="alert alert-success" role="alert">
                    {{succesMessage}}
                </div>
            </div>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Users</th>
                        <th scope="col" v-if="authRole == 'A'">Check list Count</th>
                        <th scope="col" v-if="authRole == 'A'">Role</th>
                        <th scope="col">Ban</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.id">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td v-if="authRole == 'A'"><check-lists-count :userId="user.id" /></td>
                            <td v-if="authRole == 'A'"><drop-user-role :role="user.role" :userId="user.id" :mainRole="authRole"/></td>
                            <td><ban-checkbox :userId="user.id" :currentRole="authRole" :mainRole="user.role" :is_banned="user.has_ban" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import DropUserRole from '../common/DropUserRoles';
import BanCheckbox from '../common/BanCheckbox';
import CheckListsCount from '../common/CheckListsCount';

export default {
    components: {DropUserRole,BanCheckbox,CheckListsCount},
    data(){
        return {
            users: [],
            authRole: '',
            succes: false,
            succesMessage: '',
        }
    },
    methods:{

        getUsers(){
            axios.get('/admin/users')
                .then(r => {
                    this.users = r.data.response
                })
                .catch((error)  => {
                    alert(error);
                })
        },

        updaterRole(role,userId){
            let data = {role:role};
            axios.patch(`/admin/users/${userId}`,data).then(r=> this.sendSucces(r.data.message));
        },

        updateUserBan(banned,userId){
            let data = {ban:banned};
            axios.patch(`admin/users/ban/${userId}`,data).then(r=> this.sendSucces(r.data.message));
        },

        updateCheckListCount(count,userId){
            let data = {count:count};
            axios.post(`admin/check-lists/count/${userId}`,data).then(r => {
                this.sendSucces(r.data.message);
            });
        },

        sendSucces(message){
            this.succes = true;
            this.succesMessage = message;
            setTimeout(() => this.succes = false, 3000);
        }

    },
    mounted(){

        this.getUsers();
        this.authRole = auth.user.role

        Event.$on('update:role', (role,userId) => {
            this.updaterRole(role,userId);
        });

        Event.$on('update:ban',(ban,userId) => {
            this.updateUserBan(ban,userId)
        });

        Event.$on('update:check-lists-count',(count,userId) => {
            this.updateCheckListCount(count,userId);
        });
    }
}
</script>
