<template>
    <div>
        <NavHeader />
        <router-view></router-view>
    </div>
</template>

<script>
    import NavHeader from './components/common/NavHeader';

    export default {
        components: {
            NavHeader
        }
    }
</script>
