<template>
    <div>
        <div class="accordion" :id="accorId">
            <div class="card">
                <div class="card-header" :id="headingId">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" :data-target="'#'+collapseId" aria-expanded="true" :aria-controls="collapseId" @click="getAccordData">
                            {{accordListName}}
                        </button>
                    </h2>
                    </div>
                    <div :id="collapseId" class="collapse" :aria-labelledby="headingId" :data-parent="'#'+accorId" >

                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="point in points" :key="point.id">
                                        {{point.point_task}}
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['accordListName','points','headingId','collapseId','accorId'],
    methods:{
        getAccordData(){
            this.$emit('accord',200);
        }
    }
}
</script>
