<template>
    <div>
        <input
            type="checkbox"
            :disabled="disabled"
            @change="countUpdate(userId)"
            v-model="banned"
            :name="userId"
        >
    </div>
</template>

<script>
export default {
    props:['userId','currentRole','mainRole','is_banned'],

    data(){
        return {
            disabled:false,
            banned: false,
        }
    },
    methods:{
        countUpdate(userId){
            let ban = this.banned ? 1 : 0;
            Event.$emit('update:ban',ban,userId);
        }
    },
    mounted() {
        if(this.userId == auth.user.id) this.disabled = true;

        if(
            this.currentRole == 'M'
            && (this.mainRole == 'M' || this.mainRole == 'A')
        ){
            this.disabled = true;
        }
        if(this.is_banned) this.banned = true;
    },
}
</script>
