<template>
    <div>
       <input
            class="form-control check-list-count"
            @change="updateCount(userId)"
            v-model="count"
            type="text"
            :disabled="disabled"
        >
    </div>
</template>
<script>
export default {
    props:['userId'],
    data(){
        return{
            count: 0,
            disabled:false,
        }
    },
    methods:{
        getCheckListsCount(){
            axios.get(`admin/check-lists/count/${this.userId}`).then(r => {
                if(r.data.response != null){
                    this.count = r.data.response.count
                }
            })
        },
        updateCount(userId){
            Event.$emit('update:check-lists-count',this.count,userId);
        }
    },
    mounted(){
        this.getCheckListsCount();
        if(this.userId == auth.user.id) this.disabled = true;
    }
}
</script>

<style lang="css">
    .check-list-count{
        width: 60px;
        text-align: center;
    }
</style>
