<template>
    <div>
        <select class="custom-select" id="inputGroupSelect02"  @change="changeRole($event,userId)"  :disabled="userId == authUserId" v-model="modeRole">
            <option v-for="option in userRoles" :key="option.userRole" :value="option.value">
                    {{ option.userRole }}
            </option>
        </select>
    </div>
</template>

<script>
export default {
    props:['role','userId','mainRole'],
    data(){
        return {
            modeRole:'',
            userRoles: [
                {userRole:'Admin',value:'A'},
                {userRole:'Moderator',value:'M'},
                {userRole:'User',value:'U'},
            ],
            authUserId: auth.user.id
        }
    },
    methods: {
        changeRole(event,userId){
            Event.$emit('update:role',event.target.value,userId);
        }
    },
    mounted(){
        this.modeRole = _.clone(this.role)
    }
}

</script>
