<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="#">Check Lists Project</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <router-link to="/" class="nav-link" active-class="active">Home</router-link>
                    </li>

                    <li class="nav-item">
                        <router-link v-if="authAdmin" class="nav-link" to="/users" active-class="active">Users</router-link>
                    </li>

                    <li class="nav-item">
                        <router-link v-if="authCheck" class="nav-link" to="/check-lists" active-class="active">Check Lists</router-link>
                    </li>

            </ul>

            <ul class="navbar-nav">

                <li class="nav-item" v-if="authCheck">
                    <a class="nav-link" @click="logout">Logout</a>
                </li>

                <div v-else>
                        <li class="nav-item auth">
                            <router-link class="nav-item" to="/login" active-class="active" tag="li"><a class="nav-link">Login</a></router-link>
                        </li>
                        <li class="nav-item auth">
                            <router-link class="nav-item" to="/register" active-class="active" tag="li"><a class="nav-link">Register</a></router-link>
                        </li>
                </div>

            </ul>

        </div>
        </nav>
    </div>
</template>
<script>
export default {
    props: ['authCheck','authAdmin'],
    methods:{
        logout: function(){
            axios.post('logout')
                .then(() => {
                    auth.logout()
                    this.$router.push('/login');
                });
        }
    },
}
</script>
<style>
    .auth{
        float: left;
    }
</style>
