<template>
    <div>
        <Links :authCheck="authCheck" :authAdmin="authAdmin" />
    </div>
</template>

<script>
import Links from './Links';

export default {
    components: {Links},
    data(){
        return{
            authCheck: auth.check(),
            authAdmin: false,
        }

    },
    methods: {
        isAdmin(){
            if(auth.isAdminOrModer()) this.authAdmin = true;
        }
    },
    mounted(){
        this.isAdmin();

        Event.$on('userLoggedIn', () => {
            this.authCheck = true;
        });
        Event.$on('userLoggout', () => {
            this.authCheck = false;
            this.authAdmin = false;
        });

    },
    watch: {
        '$route'(){
            this.isAdmin();
        }
    }
}
</script>
