<template>
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{{title}}</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" v-model="task" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"  @click="sendTask()">Send</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['title'],
    data(){
        return{
            task: '',
        }
    },
    methods:{
        sendTask(){
             this.$emit('sendText', this.task);
             this.task = '';
        }
    }
}
</script>
